<!-- <footer id="footer" class="footer">
    <div class="copyright">
      &copy; 2025 <strong><span>Time4Class Admin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <a routerLink="/">Back to Public Site</a>
    </div>
  </footer> -->

  <footer id="footer" class="footer py-3">
    <div class="footer-content">
      <div class="copyright text-muted">
        © 2025 <strong><span class="text-primary">Time4Class Admin</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <a routerLink="/" class="text-primary text-decoration-none">Back to Public Site</a>
      </div>
    </div>
  </footer>