<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/images/img/cta-bg.jpg" alt="">
    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>Ready to Manage your school?</h3>
            <p>Try our timetable tool today.</p>
            <a class="cta-btn" routerLink="/login">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>