 <section id="hero" class="hero section dark-background">
    <img src="/assets/images/img/school3.jpg" alt="" data-aos="fade-in">
    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2>Welcome to Time4Class</h2>
          <p>Manage your school with ease</p>
          <a routerLink="/login" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </section>  


<!--
  <section id="hero" class="hero section dark-background" style="background-image: url('/assets/images/img/school3.jpg');">
    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2>Welcome to School Timetable</h2>
          <p>Manage your classes with ease</p>
          <a routerLink="/timetable" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </section>-->