<footer id="footer" class="footer dark-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a routerLink="/" class="logo d-flex align-items-center">
          <span class="sitename">Time4Class</span>
        </a>
        <p>Time4Class simplifies school administration with tools for timetables, agendas, and resource management across central, regional, and local levels.</p>
        <div class="social-links d-flex mt-4">
          <a href="https://twitter.com"><i class="bi bi-twitter-x"></i></a>
          <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/services">Features</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Tools</h4>
        <ul>
          <li><a routerLink="/timetable">Timetable Management</a></li>
          <li><a routerLink="/programs">Study Programs</a></li>
          <li><a routerLink="/agenda">School Agenda</a></li>
          <li><a routerLink="/resources">Resource Allocation</a></li>
          <li><a routerLink="/support">Chatbot Support</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>1,Avenue du Dollar,résidence Sidi Mansour III Bloc A,Les Jardins du Lac, Lac II
          </p>
        <p>Tunis 1053</p>
        <p>Tunisia</p>
        <p class="mt-4"><strong>Phone:</strong> <span>+216 71 123 456</span></p>
        <p><strong>Email:</strong> <span>contact.Time4School.tn</span></p>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Time4Class</strong> <span>All Rights Reserved</span></p>
    <!-- <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div> -->
  </div>
</footer>