<!-- <section id="about" class="about section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 content" data-aos="fade-up" data-aos-delay="100">
          <h3>About Our App</h3>
          <p>A tool for scheduling made simple.</p>
          <ul>
            <li><i class="bi bi-diagram-3"></i> <div><h5>Feature 1</h5><p>Description</p></div></li>
            
          </ul>
        </div>
      </div>
    </div>
  </section>
-->

  <section id="about" class="about section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/images/img/school a.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 content" data-aos="fade-up" data-aos-delay="100">
          <h3>About Time4Class</h3>
          <p>Streamlining school administration at every level.</p>
          <ul>
            <li>
              <i class="bi bi-diagram-3"></i>
              <div>
                <h5>School Data Management</h5>
                <p>Easily set up calendars, years, and schedules.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-calendar4-week"></i>
              <div>
                <h5>Flexible Scheduling</h5>
                <p>Divide years into trimesters or semesters.</p>
              </div>
            </li>
            <!-- <li>
              <i class="bi bi-book"></i>
              <div>
                <h5>Study Programs</h5>
                <p>Manage subjects, evaluations, and hours.</p>
              </div>
            </li> -->
            <li>
              <i class="bi bi-chat-dots"></i>
              <div>
                <h5>Smart Chatbot</h5>
                <p>Instant support for users.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>