<section id="why-us" class="why-us section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Why Us</h2>
    <div><span>Why Choose</span> <span class="description-title"> Time4Class</span></div>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <span>01</span>
          <h4><a href="" class="stretched-link">All-in-One Solution</a></h4>
          <p>Manage schedules, programs, and resources.</p>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card-item">
          <span>02</span>
          <h4><a href="" class="stretched-link">Flexible Design</a></h4>
          <p>Adaptable for any school level.</p>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card-item">
          <span>03</span>
          <h4><a href="" class="stretched-link">Smart Support</a></h4>
          <p>Chatbot for instant help.</p>
        </div>
      </div>
    </div>
  </div>
</section>