<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Services</h2>
    <div><span>Explore</span> <span class="description-title"> Time4Class Tools</span></div>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
        <div>
          <h4 class="title"><a routerLink="/timetable" class="stretched-link">Timetable Management</a></h4>
          <p class="description">Plan classes with ease.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="icon flex-shrink-0"><i class="bi bi-book"></i></div>
        <div>
          <h4 class="title"><a routerLink="/programs" class="stretched-link">Study Programs</a></h4>
          <p class="description">Define subjects and evaluations.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="icon flex-shrink-0"><i class="bi bi-calendar-check"></i></div>
        <div>
          <h4 class="title"><a routerLink="/agenda" class="stretched-link">School Agenda</a></h4>
          <p class="description">Track exams and holidays.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
        <div class="icon flex-shrink-0"><i class="bi bi-person-plus"></i></div>
        <div>
          <h4 class="title"><a routerLink="/resources" class="stretched-link">Resource Allocation</a></h4>
          <p class="description">Assign students and staff.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
        <div class="icon flex-shrink-0"><i class="bi bi-chat-dots"></i></div>
        <div>
          <h4 class="title"><a routerLink="/support" class="stretched-link">Chatbot Support</a></h4>
          <p class="description">Get instant assistance.</p>
        </div>
      </div>
    </div>
  </div>
</section>